html{
  background-color: lightblue;

}
div{
  background-color: lightblue;
  font-size: 16px;
  color: deeppink;
}
h1 {
  font-size: 36px;
  text-align: left;
}
p1{
  color: blueviolet;
  text-align: center;
  font-size: 20px;
}
p2{
  color: blueviolet;
  text-align: center;
  font-size: 20px;
}
p3{
  color: blueviolet;
  text-align: center;
  font-size: 20px;
}
p4{
  color: blueviolet;
  text-align: center;
  font-size: 20px;
}
