html{
  background-color: lightblue;
}
div{
  background-color: lightblue;
  font-size: 16px;
}
h1 {
  link-color: navy;
  font-size: 36px;
  text-align: left;
}
p1{
  text-align: center;
  font-size: 20px;
}
p2{
  text-align: center;
  font-size: 20px;
}
p3{
  text-align: center;
  font-size: 20px;
}
