html{
  background-color: lightpink;

}
div{
  background-color: lightpink;
  font-size: 16px;
  color: navy;
  font-family: "Lucida Console", Monaco, monospace;
}
h1 {
  font-size: 36px;
  text-align: center;
}
p1{
  color: blueviolet;
  text-align: left;
  font-size: 20px;
}
p2{
  color: blueviolet;
  text-align: left;
  font-size: 20px;
}
p3{
  color: blueviolet;
  text-align: left;
  font-size: 20px;
}
p4{
  color: blueviolet;
  text-align: left;
  font-size: 20px;
}
